/* ___________________________R E S E T  S E C T I O N */
html,
body {
	/* _________________________Variables */
	--color-primary: rgb(255, 0, 0, 0.55);
	--color-secondary: rgb(255, 255, 255);
	/* _________________________Styling */
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

/* ___________________________G L O B A L  S E C T I O N */
#navbar {
	margin: 0;
	display: flex;
	height: 60px;
	align-items: center;
	backdrop-filter: blur(5px);
	box-shadow: 0 1px 8px rgb(0, 0, 0, 0.2);
}

#menu {
	height: 100vh;
	position: absolute;
	width: 100vw;
  backdrop-filter: blur(7px);
	background-color: rgb(0, 0, 0,0.4);
	z-index: 1;
	left: -100vw;
	transition-duration: 600ms ;
}

ul {
	list-style-type: none;
	padding-top: 60px;
}

.menu-li {
	text-decoration: none;
	color: var(--color-secondary);
	font-size: 30px;
	font-weight: 700;
	line-height: 120px;
	margin-left: 10vw;
	transition-duration: 200ms;
}

.menu-li:hover {
	color: var(--color-primary);
}

.menu-arrow {
	float: right;
	margin-right: 20vw;
}

#slider {
	display: flex;
	position: absolute;
	top: 0;
	z-index: -1;
	height: 600px;
	left: 0;
	transition-duration: 800ms;
}

.slider-img {
	width: 100vw;
  object-fit: cover;
}

#minigame {
	float: right;
	margin-right: 5vw;
	margin-top: 20px;
	border-radius: 10%;
	text-align: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.048);
  backdrop-filter: blur(5px);
}

h1 {
	line-height: 50px;
	font-size: 60px;
	font-weight: 900;
	color: rgba(247, 247, 247, 0.8);
	backdrop-filter: blur(5px);
	padding: 20px;
	border-radius: 20%;
	margin: 0;
	text-align: right;
	border-top: 4px dotted rgba(172, 0, 0, 0.35);
	background-image: url('./artwork/slider/05.jpeg');
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
}

.question-mark {
	color: var(--color-primary);
	font-size: 80px;
}

#responses {
	display: flex;
	justify-content: right;
	width: 30vw;
	margin: 0;
	padding: 0;
}

.response {
	color: var(--color-secondary);
	backdrop-filter: blur(5px);
	padding: 7px;
	width: 80px;
	text-align: center;
	margin-left: 15px;
	border-radius: 40%;
	border-bottom: 4px solid rgba(172, 0, 0, 0.8);
	cursor: pointer;
}

#yes:hover {
	transition-duration: 350ms;
	border-bottom: 4px solid var(--color-secondary);
}

#yes:active {
	color: var(--color-primary);
}

#no:hover {
	transition-duration: 350ms;
	border-bottom: 4px solid var(--color-secondary);
}

#no:active {
	color: var(--color-primary);
}

/* ___________________________M O B I L E  S E C T I O N */
@media only screen and (max-width: 768px) {
	.d {
		display: none;
	}

	#burgerbtn {
    margin-top: 8px;
		transition-duration: 300ms;
		cursor: pointer;
	}

	#burgerbtn:hover .bar {
		background-color: var(--color-secondary);
	}

	.bar {
		width: 40px;
		height: 6px;
		background-color: var(--color-primary);
		margin-bottom: 8px;
		margin-left: 20px;
		transition-duration: 300ms;
	}

	.active #bar1 {
		transform: translateY(14px) rotate(45deg);
	}

	.active #bar2 {
		opacity: 0;
	}

	.active #bar3 {
		transform: translateY(-14px) rotate(-45deg);
	}
}

/* ___________________________D E S K T O P  S E C T I O N */
@media only screen and (min-width: 768px) {
	.m {
		display: none;
	}

	#logo {
		width: 60px;
		margin-left: 30px;
	}
}