/* ___________________________R E S E T  S E C T I O N */
html,
body {
	/* _________________________Variables */
	--color-primary: rgb(140, 172, 0);
	--color-secondary: rgb(255, 255, 255);
	/* _________________________Styling */
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	background-color: rgb(58, 0, 0);
}

/* ___________________________G L O B A L  S E C T I O N */
#navbar {
	margin: 0;
	display: flex;
	height: 60px;
	align-items: center;
	backdrop-filter: blur(5px);
	box-shadow: 0 1px 8px rgb(0, 0, 0, 0.2);
	position: fixed;
	width: 100vw;
	z-index: 2;
}

ul {
	list-style-type: none;
	padding-top: 60px;
}

#slider {
	display: flex;
	position: absolute;
	top: 0;
	z-index: -1;
	height: 70vh;
	left: 0;
	transition-delay: 100ms;
	transition-duration: 800ms;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
	opacity: 60%;
}

.slider-img {
	width: 100vw;
  object-fit: cover;
}

#slider2 {
	display: flex;
	position: absolute;
	top: 70vh;
	z-index: -2;
	height: 30vh;
	transition-duration: 800ms;
}

.slider2-img {
  width: 50vw;
	object-fit: cover;
}

#minigame {
	float: right;
	position: absolute;
	margin-right: 5vw;
	margin-top: 130px;
	border-radius: 10%;
	text-align: right;
	display: flex;
	flex-direction: column;
	right: 5vw;
	align-items:flex-end;
	justify-content: center;
	/* background-color: rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(5px); */
	border-top: 4px solid var(--color-primary);
	transition-duration: 600ms;
	transition-timing-function: ease-in;
}

h1 {
	line-height: 50px;
	font-size: 100px;
	margin-top: 50px;
	font-weight: 900;
	color: rgba(247, 247, 247, 0.7);
	padding-top: 50px;
	border-radius: 10px;
	margin: 0;
	text-align: right;
	background-image: url('./artwork/slider2/04.jpeg');
	background-size:20%;
	background-clip: text;
	-webkit-background-clip: text;
}

.question-mark {
	color: var(--color-primary);
	font-size: 80px;
}

#responses {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-right: 30px;
	padding: 0;
}

.response {
	color: white;
	backdrop-filter: blur(5px);
	padding: 7px;
	width:70px;
	text-align: center;
	background-color: rgb(255,255,255,0.2);
	margin-left: 15px;
	border-radius: 17px;
	border-bottom: 4px solid white;
	cursor: pointer;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#yes:hover {
	transition-duration: 200ms;
	border-bottom: 4px solid var(--color-primary);
}

#yes:active {
	border-bottom: none;
}

#no:hover {
	transition-duration: 200ms;
	border-bottom: 4px solid var(--color-primary);
}

#no:active {
	border-bottom: none;
}

#main-contact {
	position: absolute;
	left: -100vw;
	border-top: 4px solid var(--color-primary);
	background-color: rgb(0, 0, 0, 0.1);
	transition-duration: 800ms;
	width: 80vw;
	margin-top: 35px;
	backdrop-filter: blur(5px);
	border-radius: 20px;
	margin-top: 130px;
	height: 75vh;
	display:flex;
	justify-content: center;
	transition-timing-function:ease-out;
}

.contact-title {
	width: 90%;
	margin-top: 40px;
	margin-left: 10%;
	color: white;
	font-size: 24px;
	margin-bottom: 0;
	margin-right: 10%;
}

#btnX {
	float: right;
	color: var(--color-secondary);
	cursor: pointer;
	margin-right: 13%;
}

#btnX:hover {
	color: var(--color-primary);
}

#form-ul {
	/* border: 2px solid white; */
	padding: 0;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contact-p {
	width: 60vw;
	text-align: center;
}

#name {
	margin-top: 30px;
	width: 60vw;
	height: 30px;
	border-radius: 10px;
	border: none;
	border-bottom: 2px solid rgba(255, 0, 0, 0.7);
	background-color: rgb(0, 0, 0, 0.3);
	color: white;
}



#mail {
	margin-top: 15px;
	width: 60vw;
	height: 30px;
	border-radius: 10px;
	border: none;
	border-bottom: 2px solid rgba(255, 0, 0, 0.7);
	background-color: rgb(0, 0, 0, 0.3);
	color: white;
}

#msg {
	margin-top: 15px;
	width: 60vw;
	height: 90px;
	border-radius: 10px;
	border: none;
	border-bottom: 2px solid rgba(255, 0, 0, 0.7);
	background-color: rgb(0, 0, 0, 0.3);
	color: white;
}

#btnsubmit {
	margin-top: 15px;
	width: 100px;
	height: 40px;
	background-color: rgb(0,0,0,0.3);
	border: none;
	color: white;
	border-bottom: 4px solid rgba(255, 255, 255);
	border-radius: 8px;
}

#btnsubmit:hover {
	border-bottom: 4px solid var(--color-primary);
}

/* ___________________________P R O D U C T S  S E C T I O N */
#products-sec {
	border: 2px solid white;
	position: absolute;
	top: 100vh;
	height: 900px;
	width: 100vw;
	background-color: white;
}

#bg {
	position: absolute;
	width: 100vw;
	height: 500px;
	bottom: 0;
	object-fit: cover;
	opacity: 40%;
}

/* ___________________________M O B I L E  S E C T I O N */
@media only screen and (max-width: 768px) {
	.d {
		display: none;
	}

	#burgerbtn {
    margin-top: 8px;
		transition-duration: 300ms;
		cursor: pointer;
	}

	#burgerbtn:hover .bar {
		background-color: var(--color-primary);
	}

	.bar {
		width: 40px;
		height: 6px;
		background-color: rgb(255,255,255,0.9);
		margin-bottom: 8px;
		margin-left: 20px;
		transition-duration: 300ms;
	}

	.active #bar1 {
		transform: translateY(14px) rotate(45deg);
	}

	.active #bar2 {
		opacity: 0;
	}

	.active #bar3 {
		transform: translateY(-14px) rotate(-45deg);
	}

  #menu {
		height: 100vh;
		position: absolute;
		width: 100vw;
		backdrop-filter: blur(7px);
		background-color: rgb(0, 0, 0,0.4);
		z-index: 1;
		left: -100vw;
		top: 0;
		transition-duration: 600ms ;
	}

	.menu-li {
		text-decoration: none;
		color: var(--color-secondary);
		font-size: 30px;
		font-weight: 700;
		line-height: 120px;
		margin-left: 10vw;
		transition-duration: 200ms;
	}
	
	.menu-li:hover {
		color: var(--color-primary);
	}
	
	.menu-arrow {
		float: right;
		margin-right: 20vw;
	}
}

/* ___________________________D E S K T O P  S E C T I O N */
@media only screen and (min-width: 768px) {
	.m {
		display: none;
	}

	#logo {
		width: 60px;
		margin-left: 30px;
	}
}